.header-menu {
  margin: 1em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
}

.creature-list {
  align-items: center;
  height: 50vh;
  overflow-y: auto;
  width: 100%;
}

.initiative-footer {
  border-top: 2px solid;
  width: initial;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  margin-top: 10px;
}