#root {
  background-color: black;
  display: block;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
}

.header-menu {
  margin: 0 !important;
  padding-bottom: 1em;
  height: 50px;
}

.custom-gutter-horizontal {
  padding: 0 1px;
  align-self: center;
  width: 3px;
}

.Horizontal {
  overflow-y: hidden !important;
  height: 100vh !important;
}

.custom-gutter-horizontal:hover {
  color: white;
}

.custom-dragger-horizontal {
  height: calc(100vh - 50px - 1em) !important;
}

.__dbk__child-wrapper {
  height: inherit !important;
}

.initiative-panel {
  height: 100% !important;
  padding-top: 1em;
  color: black;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}

.sheet-panel {
  height: 100% !important;
  color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.vite-react {
  width: 100%;
}

.read-the-docs {
  color: #888;
}